fastapi
uvicorn
pandas
numpy
scikit-learn
scipy
matplotlib
plotly
statsmodels
mlflow
evidently
prometheus-fastapi-instrumentator
prometheus_client
llama-index
llama-index-core
llama-index-vector-stores-faiss
llama-index-embeddings-huggingface
llama-index-embeddings-openai
faiss-cpu
groq
rouge-score
nltk
docker
sqlalchemy
pydantic
pydantic-settings
python-dotenv
requests
httpx
pyyaml
tqdm
fsspec
