# For Data & Modeling
pandas
scikit-learn>=1.5.0
numpy
joblib
# For the API
fastapi
uvicorn[standard]
# For Monitoring
prometheus_fastapi_instrumentator
evidently
# For Testing & Linting
pytest
ruff
black
