# --- Web Frameworks ---
fastapi
uvicorn

# --- Data Science & MLOps ---
pandas
numpy
scikit-learn
scipy
matplotlib
plotly
statsmodels
mlflow
evidently
prometheus-fastapi-instrumentator
prometheus_client
fsspec
tqdm

# --- LLM & AI ---
llama-index
llama-index-core
llama-index-vector-stores-faiss
llama-index-embeddings-huggingface
llama-index-embeddings-openai
llama_index.llms.groq
faiss-cpu
groq
rouge-score
nltk

# --- Utilities ---
docker
sqlalchemy
pydantic
pydantic-settings
python-dotenv
requests
httpx
pyyaml

# --- Testing (Crucial for GitHub Actions) ---
pytest
pytest-cov
